/******************************* Hero-page ************************************/

.video-container {
    position: relative;
    top: -8vh;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.scroll-about {
    text-decoration: none;
    color: var(--light-brown);
    font-size: 2rem;
    transition: opacity 5s;
    animation: fly 2s ease-in-out infinite;
    padding: 2rem;
    user-select: none;
}

.background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/*==== Product-page ====*/
.about-product-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 8vh;
    scroll-margin-top: 16vh;
}

.about-product-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    width: 90%;
    height: 100%;
}

.product-description-area {
    width: 40%;
}

.product-text {
    margin-bottom: 40px;
    gap: 20px;
}

.section-title {
    font-size: 3rem;
    font-weight: 300;
}

.product-description {
    opacity: 0.9;
    text-align: justify;
}

.feature-content {
    margin: 25px 0;
}

.feature-content:first-child {
    margin-top: 0;
    margin-bottom: 25px;
}

.feature-content:last-child {
    margin-bottom: 40px;
}

.feature-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
    gap: 10px;
}

.line-division {
    height: 1px;
    width: 90%;
    background-color: var(--black);
    opacity: 0.3;
}

.product-icon {
    width: 30px;
}

.product-feature {
    opacity: 0.9;
}

.btn-section {
    width: 250px;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: solid 2px;
    background-color: var(--dark-brown);
    border-color: var(--dark-brown);
    color: var(--light-beige);
    transition: .5s all;
}

.btn-section:hover {
    border: solid 2px;
    background-color: var(--light-brown);
    border-color: var(--light-brown);
    color: var(--dark-brown);
    font-weight: 600;
}

.product-img-area {
    width: 40%;
}

.coffe-package {
    width: 100%;
    background-color: var(--light-grey);
    border-radius: 15px;
}

/*==== Swiper-page ====*/

.certificates-area {
    background-image: url(../assets/images//background-filter.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

.certificates-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 450px;
    margin-left: 100px;
}

.certificates-title {
    color: var(--light-beige);
    width: 100%;
}

.pagination {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.swiper-btn {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    opacity: 0.8;
    transition: .5s all;

    /* Centralizando */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    width: 50%;
    height: 450px;
    margin: 20px auto;
}

.swiper-slide {
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
}

.content-swiper {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.header-swiper {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fa-link {
    transition: transform 0.3s ease-in-out;
}

.fa-link:hover {
    transform: scale(1.3);
}

.logo-swiper {
    height: 60px;
    object-fit: fill;
    float: left;
    margin: 10px;
}

.description-swiper {
    width: 80%;
    opacity: 0.9;
    margin-top: 70px;
}

/*==== Aboyut-page ====*/
.about-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8vh 0;
}

.about-zone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.about-title {
    color: var(--dark-brown);
}

.about-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.about-img {
    width: 40%;
    border-radius: 15px;
}

.about-data {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.about-text {
    width: 70%;
    text-align: justify;
}

.btn-about-page {
    margin-top: 50px;
}

.about-logo {
    width: 35%;
}

/*==== Distributor-page ====*/
.distributor-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.distribuidor-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 100%;
}

.distributor-data {
    width: 40%;
}

.distributor-title {
    color: var(--dark-brown);
}

.distributor-text {
    text-align: justify;
    margin: 30px 0 40px 0;
}

.distributor-img {
    width: 45%;
    border-radius: 15px;
}

@keyframes fly {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);
    }
}

/*----------- Video -----------*/

@media (min-aspect-ratio:16/9) {
    .background-clip {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .background-clip {
        width: auto;
        height: 100%;
    }
}

/*----------- Spbre nos -----------*/

@media (max-width: 1200px) {
    .about-logo {
        display: none;
    }

    .btn-about-page {
        width: 90%;
    }
}