.background-container {
    position: relative;
    width: 100%;
    height: 55vh;
    top: -8vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    overflow: hidden;
}

.background-container img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 78%;
    filter: brightness(.5);
}

.page-area {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 60%;
    justify-content: space-between;
}

.page-data {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.contact-title {
    color: var(--light-brown);
    font-size: 4rem;
    font-weight: 400;
    line-height: 3rem;
}

.page-text {
    color: var(--light-beige);
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 3px;
}

.page-email {
    color: var(--light-beige);
    z-index: 1;
    align-self: flex-end;
    margin-right: 20px;
    font-size: 1.2rem;
}

.page-title {
    font-size: 3rem;
    font-weight: 300;
}

.contact-data {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-content {
    width: 70%;
    margin-bottom: 8vh;
    display: flex;
    color: var(--dark-brown);
}

.contact-form {
    width: 65%;
}

.card-title {
    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
}

.card p {
    margin-top: 25px;
}

.card a {
    line-height: 2rem;
    text-decoration: underline;
    color: var(--dark-brown);
}

.contact-cards {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
}

.card-faq {
    align-items: center;
}

.btn-faq {
    margin-top: 30px;
    width: 80%;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: solid 2px;
    background-color: var(--dark-brown);
    border-color: var(--dark-brown);
    color: var(--light-beige);
    transition: .5s all;
}

.btn-faq:hover {
    border: solid 2px;
    font-weight: 600;
    background-color: var(--light-brown);
    border-color: var(--light-brown);
    color: var(--dark-brown);
}

.form-title {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 10px ;
}

.label-name {
    font-size: 1.2rem;
    line-height: 2rem;
}

.contact-input .input-text, select, textarea{
    margin-bottom: 15px;
    margin-top: 5px;
    width: 75%;
    background-color: var(--background-grey);
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
}

.contact-input input, select {
    height: 2.5rem;
    padding: 0 1rem;
}

.contact-input select {
    height: 2.5rem;
    padding: 0 1rem;
    color: #6e6e6e;
}

.contact-input textarea {
    height: 8.5rem;
    padding: 1rem;
    resize: vertical;
}

.bnt-submit {
    width: 35%;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: solid 2px;
    background-color: var(--dark-brown);
    border-color: var(--dark-brown);
    color: var(--light-beige);
    transition: .5s all;
}

.bnt-submit:hover {
    font-weight: 600;
    background-color: var(--light-brown);
    border-color: var(--light-brown);
    color: var(--dark-brown);
}