/******************************* Hero-page ************************************/
.background-container {
    position: relative;
    width: 100%;
    height: 55vh;
    top: -8vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    overflow: hidden;
}

.background-container img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 78%;
    filter: brightness(.5);
}

.page-area {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 60%;
    justify-content: space-between;
}

.page-data {
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 50%;
}

.faq-title {
    color: var(--light-brown);
    font-size: 4rem;
    font-weight: 400;
    line-height: 4rem;
}

.page-subtitle {
    color: var(--light-beige);
    z-index: 1;
    width: 25%;
}

.page-text {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.contact-link {
    color: var(--light-beige);
    font-size: 1.4rem;
    text-decoration: underline;
}

.contact-link:hover {
    .fa-arrow-right {
        transform: translateX(10px);
    }
}

.fa-arrow-right {
    margin-left: 15px;
    transition: transform 0.3s ease-in-out;
}

.page-title {
    font-size: 3rem;
    font-weight: 300;
}

/******************************* FAQ-page ************************************/
/*==== faq-btn ====*/
.faq-data {
    width: 100%;
    display: flex;
    justify-content: center;
}

.faq-content {
    width: 70%;
    display: flex;
    flex-direction: row;
}

.faq-buttons {
    display: flex;
    flex-direction: row;
    width: 35%;
}

.btn-groups {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.faq-btn {
    border: none;
    height: 100px;
    background-color: rgba(183, 139, 106, .6);
    color: var(--dark-brown);
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 15px;
    cursor: pointer;
    transition: background-color .3s ease;
    user-select: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 5px;
}

.faq-btn:hover {
    background-color: var(--dark-brown);
    color: var(--light-beige);
}

/*==== faq-content ====*/

footer{
    margin-top: 8vh;
}