/******************************* Hero-page ************************************/

/*==== Video-page ====*/
.video-container {
    position: relative;
    top: -8vh;
    width: 100%;
    height: 100vh;
}

.video-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*==== Product-page ====*/
.about-product-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80vh;
    gap: 40px;
}

.product-description-area {
    width: 40%;
}

.product-text {
    margin-bottom: 40px;
    gap: 20px;
}

.section-title {
    font-size: 3rem;
    font-weight: 300;
}

.product-description {
    opacity: 0.9;
    text-align: justify;
}

.feature-content {
    margin: 25px 0;
}

.feature-content:first-child {
    margin-top: 0;
    margin-bottom: 25px;
}

.feature-content:last-child {
    margin-bottom: 40px;
}

.feature-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
    gap: 10px;
}

.line-division {
    height: 1px;
    width: 90%;
    background-color: var(--black);
    opacity: 0.3;
}

.product-icon {
    width: 30px;
}

.product-feature {
    opacity: 0.9;
}

.buy-product-now {
    width: 250px;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: solid 2px;
    background-color: var(--dark-brown);
    border-color: var(--dark-brown);
    color: var(--light-beige);
    transition: .5s all;
}

.buy-product-now:hover {
    border: solid 2px;
    background-color: var(--background-grey);
    border-color: var(--dark-brown);
    color: var(--dark-brown);
}

.product-img-area {
    width: 40%;
}

.coffe-package {
    width: 650px;
    background-color: var(--light-grey);
    border-radius: 15px;
}

/*==== Swiper-page ====*/

.certificates-area {
    background-image: url(../assets/images//background-filter.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

.certificates-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 450px;
    margin-left: 100px;
}

.certificates-title {
    color: var(--light-beige);
    width: 100%;
}

.pagination {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.swiper-btn {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    opacity: 0.8;
    transition: .5s all;

    /* Centralizando */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    width: 50%;
    height: 450px;
    margin: 20px auto;
}

.swiper-slide {
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
}

.content-swiper {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-swiper {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.logo-swiper {
    height: 60px;
    object-fit: fill;
    float: left;
    margin: 10px;
}

.description-swiper {
    width: 80%;
    opacity: 0.9;
    margin-top: 70px;
}
