/******************************* Hero-page ************************************/

/*==== Video-page ====*/
.video-container {
    position: relative;
    top: -8vh;
    width: 100%;
    height: 100vh;
}

.video-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*==== Product-page ====*/
.about-product-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80vh;
    gap: 40px;
}

.product-description-area {
    width: 40%;
}

.product-text {
    margin-bottom: 40px;
    gap: 20px;
}

.section-title {
    font-size: 3rem;
    font-weight: 300;
}

.product-description {
    opacity: 0.9;
    text-align: justify;
}

.feature-content {
    margin: 25px 0;
}

.feature-content:first-child {
    margin-top: 0;
    margin-bottom: 25px;
}

.feature-content:last-child {
    margin-bottom: 40px;
}

.feature-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
    gap: 10px;
}

.line-division {
    height: 1px;
    width: 90%;
    background-color: var(--black);
    opacity: 0.3;
}

.product-icon {
    width: 30px;
}

.product-feature {
    opacity: 0.9;
}

.buy-product-now {
    width: 250px;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: solid 2px;
    background-color: var(--dark-brown);
    border-color: var(--dark-brown);
    color: var(--light-beige);
    transition: .5s all;
}

.buy-product-now:hover {
    border: solid 2px;
    background-color: var(--white);
    border-color: var(--dark-brown);
    color: var(--dark-brown);
}

.product-img-area {
    width: 40%;
}

.coffe-package {
    width: 650px;
    background-color: var(--light-grey);
    border-radius: 15px;
}

/*==== Product-page ====*/
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 300px;
    margin: 20px auto;
}

.append-buttons {
    text-align: center;
    margin-top: 20px;
}

.append-buttons button {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #007aff;
    color: #007aff;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 13px;
}