/******************************* Hero-page ************************************/
.hero {
    display: flex;
    flex-direction: column;
}

.img-container {
    position: relative;
    top: -8vh;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.img-container .background-img {
    width: 100%;
    height: 75vh;
    object-fit: cover;
    object-position: bottom;
    filter: brightness(70%);
}

.text-overlay {
    position: absolute;
    bottom: 45%;
    left: 15%;
    color: var(--light-brown);
    width: 35%;
}

.text-overlay h2 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1;
}

.text-overlay h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.text-overlay .weight {
    margin-bottom: 20px;
    font-weight: 400;
}

.text-overlay p {
    text-align: justify;
}

.icons {
    display: flex;
    height: 25vh;
    background-color: var(--light-brown);
    align-items: center;
    gap: 150px;
    padding-left: 15%;
}


.icon-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 130px;
    color: var(--dark-brown);
    font-weight: 400;
    line-height: 1.3rem;
}

.icons img {
    height: 90px;
    width: 90px;
    object-fit:fill;
    margin-bottom: 15px;
}

.img-product {
    position: absolute;
    height: 80%;
    bottom: 5%;
    right: 9%;
}

.img-product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/******************************* Tabs ************************************/

.tab-container {
    display: flex;
    justify-content: center;
    margin-bottom: 8vh;
}

#container {
    width: 70%;
    border-radius: 10px;
}

.tab-buttons {
    display: flex;
    gap: 6px;
    margin: 0 30px;
}

.tab-btn {
    border: none;
    color: var(--dark-brown);
    border-radius: 8px 8px 0px 0px;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 15px;
    cursor: pointer;
    transition: background-color .3s ease;
}

.tab-btn.active {
    background-color: var(--dark-brown);
    color: var(--light-beige);
    font-weight: 600;
}

.tab-btn.active:hover {
    background-color: var(--dark-brown);
    color: var(--light-beige);
}

.tab-btn:hover {
    background-color: #B78B6A;
    color: var(--dark-brown);
}

.content {
    display: none;
    color: var(--dark-brown);
}

.content.show {
    display: flex;
    background-color: var(--white);
    border-radius: 10px;
    padding: 50px 100px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
}

.infos {
    width: 100%;
}

.content-description {
    display: flex;
    flex-direction: column;
}

.line-description:last-child {
    border: none;
}

.line-description {
    display: flex;
    justify-content: space-between;
    border-bottom: dashed;
    border-width: 1.5px;
    border-color: var(--light-brown);
    line-height: 2.5rem;
}

.certificates-text {
    text-align: justify;
    margin-bottom: 1.5rem;
    line-height: 1.8rem;
}

.certificates-topic {
    list-style-type: disc;
}

.certificates-topic span{
    font-weight: 500;
}